<nav ngxNavbarDynamicExpand class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
            <!-- <div class="collapse navbar-collapse"> -->
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link active">Recipes</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button">Manage</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a href="#" class="nav-link">Save Data</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
            <!-- </div> -->
        </ngx-navbar-collapse>
    </div>
</nav>